<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="andres.cl.missionshop">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="25" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:theme="@style/AppTheme" -->
        >
        <activity
            android:name=".views.login.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.main.MainActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.missiondetail.MissionActivity"
            android:label="@string/title_activity_mission"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".views.usermissionslist.UserMissionsActivity"
            android:label="@string/title_activity_user_missions"
            android:parentActivityName=".views.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="andres.cl.missionshop.views.main.MainActivity" />
        </activity>
        <activity
            android:name=".views.couponlist.UserCouponsActivity"
            android:label="@string/title_activity_user_coupons"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.aboutme.AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".views.aboutme.contact.ContactActivity"></activity>
        <meta-data
            tools:replace="android:value"
            android:name="io.fabric.ApiKey"
            android:value="d7b2288dd7513a81a2d66f00193b08e4cbc9e117" />
    </application>

</manifest>